<div data-role= "content" class= "page_content">
	<ul data-role="listview" data-inset="true" data-theme="d">
		<%@places.each do |place|%>
			<li>
				<%=link_to "#place-show", :data=>{:backend=>mobile_app_place_url(:id=>place.id)}, :class=>"backend-link"  do%>
					<%=image_tag place.cover_image.thumb.url %>
				  	<h3><%=place.name%></h3>
				    <p><%=place.description%></p>
				<%end%>
			</li>
		<%end%>
	<ul>
</div>