.hidden-place{
	display:none;
}
.text_area{
	width:361px;
	resize:none;
	height:200px
}
#new_event.form-horizontal{
	.control-label{
		text-align:left;
		width:100px
	}
	.controls{
		margin-left: 120px;
	}	
}