<div data-role= "content">
	<h1>Bienvenido</h1>
	<ul data-role="listview" data-inset="false" data-theme="b">
	  <li>
	  	<%=link_to mobile_app_place_types_path do %>
	  		<%=image_tag "/images/album-bb.jpg" %>
	  		<h3>Escondites</h3>
	      <p>Lugares que puedes visitar</p>
	  	<%end%>
	  </li>

	  <li>
	    <%=link_to mobile_app_galleries_path do%>
	      <img src="/images/album-bb.jpg" />
	      <h3>Galeria</h3>
	      <p>Fotos de eventos</p>
	    <%end%>
	  </li>

	  <li>
	    <a href="#map-page">
	      <img src="/images/album-bb.jpg" />
	      <h3>Mapa</h3>
	      <p>Puntos de cultura en Santa Tecla</p>
	    </a>
	  </li>

	  <li>
	  	<%=link_to mobile_app_events_path do %>
	  		<img src="/images/album-bb.jpg" />
	    	<h3>Agenda Cultural</h3>
	    	<p>No te pierdas los proximos eventos culturales</p>
	  	<%end%>
	    
	  </li>

	  <li>
	    <a href="index.html">
	      <img src="/images/album-bb.jpg" />
	      <h3>Info</h3>
	      <p>Información acerca de Santa Tecla</p>
	    </a>
	  </li>

	  <li>
	    <a href="index.html">
	      <img src="/images/album-bb.jpg" />
	      <h3>Favoritos</h3>
	      <p>Tus Lugares favoritos</p>
	    </a>
	  </li>

	</ul>
 </div>