<!DOCTYPE HTML>
<html>
  <head>
    <title>Santa Tecla Cultural</title>
    <%= javascript_include_tag "/mobile_app/application" %>
    <%= stylesheet_link_tag "/mobile_app/application", :media => "all" %>
  	<meta name="viewport"  content="width=device-width,initial-scale=1.0,maximum-scale=1.0" >
  <body>
  	<div data-role = "page">
  		<div data-role="header" data-theme="a" data-position="fixed">
  			Santa Tecla Cultural
  		</div>
      <%=yield%>
  		<div data-role = "footer" data-theme = "a">
  			Creditos.....
  		</div>
  	</div>
       
  </body>
</html>